.fundo{

background-color:  #2a4165;

}
    table {
        border-collapse: collapse;
        border-spacing: 01px;
        text-align: center;

    
    }
    table,
    th,
    td {
        padding: 5px;
        border: 1px solid rgb(255, 255, 255);
        color: white;
        border-radius: 10px;
    }

    .cor{

        color: #2a4165;
    }

    .cor1{

        color: #ffffff;
    }

    thead,
    tfoot {
        background-color: #2a4165;
    }
    



    .cor2{

    background-color: #244d57;

    }

    .cor3{

        background-color: #622e39;
        
            }

.cor4{

    background-color: #004a77;
}

.cor5{

    background-color: #613b28;
}

.cor6{

    background-color: #433c65;
}

.cor7{

    background-color: #2f4d47;
}

.cor8{

    background-color: #46474c;
}

.cor9{

    background-color: #523e1b;
}

.cor10{

    background-color: #2a4165;
}

.cor11{

    background-color: #623842;
}

.cor12{

    background-color: #004a77;
}

.cor13{

    background-color: #613b28;
}

.fonte{

font-family: 'Courier New', Courier, monospace;
font-size: 30px;

}

.legenda{

font-family: 'Courier New', Courier, monospace;
font-size: 25px;
margin-top: 70px;
margin-left: 25px;
font-style: italic;


}

td:hover{

transform: scale(1.1);

}

.alinhar{

margin-left: 15px;
margin-right: 15px;
justify-content: space-around   ;
display:flex;
font-family: 'Courier New', Courier, monospace;
font-size: 30px;

}

.cc{

    width: 15px;
    height: 15px;
    background-color: #613b28
}