.fundo{

background-color:  #2a4165;

}
    table {
        border-collapse: collapse;
        border-spacing: 01px;
        text-align: center;

    }
    table,
    th,
    td {
        padding: 5px;
        border: 1px solid rgb(255, 255, 255);
        color: white;
        border-radius: 10px;
        width: 84,33px;
        height: 125,44px;
        margin-left: 100px;
        margin-top: 25px;
    }

    .cor{

        color: #2a4165;
    }

    .cor1{

        color: #ffffff;
    }

    thead,
    tfoot {
        background-color: #2a4165;
    }
    



    .cor2{

    background-color: #244d57;

    }

    .cor3{

        background-color: #622e39;
        
            }

.cor4{

    background-color: #004a77;
}

.cor5{

    background-color: #613b28;
}

.cor6{

    background-color: #433c65;
}

.cor7{

    background-color: #2f4d47;
}

.cor8{

    background-color: #46474c;
}

.cor9{

    background-color: #523e1b;
}

.cor10{

    background-color: #2a4165;
}

.cor11{

    background-color: #623842;
}

.cor12{

    background-color: #004a77;
}

.cor13{

    background-color: #613b28;
}

.fonte{

font-family: 'Courier New', Courier, monospace;
font-size: 300px;

}

.legenda{

font-family: 'Courier New', Courier, monospace;
font-size: 35px;
margin-top: 70px;
margin-left: 25px;


}

td:hover{

transform: scale(1.1);

}

.alinhar{

justify-content: space-around;
display:flex;
font-family: 'Courier New', Courier, monospace;
font-size: 20px;
margin-left: -45px;
}

.vff{

width: 30px;
height: 30px;
background-color: #774450;
margin-right: 15px;
border-radius: 10px;
}
.vf{

    width: 30px;
    height: 30px;
    background-color: #622e39;
    margin-right: 15px;
    border-radius: 10px;    
}

    .cv{

        width: 30px;
        height: 30px;
        background-color: #2f4d47;
        margin-right: 15px;
        border-radius: 10px;    
    }

        .cc3{

            width: 30px;
            height: 30px;
            background-color:  #433c65;
            margin-right: 15px;
            border-radius: 10px;    
        }

            .cc4{

                width: 30px;
                height: 30px;
                background-color:  #2a4165;
                margin-right: 15px;
                border-radius: 10px;    
            }

                .c{

                    width: 30px;
                    height: 30px;
                    background-color: #46474c;
                    margin-right: 15px;
                    border-radius: 10px;    
                }

                    .cc6{

                        width: 30px;
                        height: 30px;
                        background-color: #244d57;
                        margin-right: 15px;
                        border-radius: 10px;    
                    }
                        .cc1{

                            width: 30px;
                            height: 30px;
                            background-color: #523e1b;
                            margin-right: 15px;
                            border-radius: 10px;   
                        }
                            .cc2{

                                width: 30px;
                                height: 30px;
                                background-color:#004a77;
                                margin-right: 15px;
                                border-radius: 10px;    
                            }
                                .cc5{

                                    width: 30px;
                                    height: 30px;
                                    background-color: #613b28;
                                    margin-right: 15px;   
                                    border-radius: 10px;
                                }
                                    
                                
.b{

display: flex;
flex-direction: row;
position: relative;
justify-content: normal;
align-items: center;
}


