body{

    background-image: linear-gradient(to bottom right,  rgb(53, 53, 53), rgb(0, 0, 0));

}

.fundo {

    background-color: #2a4165;

}

table {


    text-align: center;
    font-size: 25px;

}

table,
th,
td {
    padding: 15px;
    color: white;
    border-radius: 20px;
    width: 84, 33px;
    height: 125, 44px;
    margin-left: 325px;
    margin-top: 25px;
}

.cor {

    color: #2a4165;
}

.cor1 {

    color: #ffffff;
}

thead,
tfoot {
    background-color: #2a4165;
}




.cor2 {

    background-color: #244d57;

}

.cor3 {

    background-color: #622e39;

}

.cor4 {

    background-color: #004a77;
}

.cor5 {

    background-color: #613b28;
}

.cor6 {

    background-color: #433c65;
}

.cor7 {

    background-color: #2f4d47;
}

.cor8 {

    background-color: #46474c;
}

.cor9 {

    background-color: #523e1b;
}

.cor10 {

    background-color: #2a4165;
}

.cor11 {

    background-color: #623842;
}

.cor12 {

    background-color: #004a77;
}

.cor13 {

    background-color: #613b28;
}

.fonte {

    font-family: 'Courier New', Courier, monospace;
    font-size: 300px;

}

.legenda {

    font-family: 'Courier New', Courier, monospace;
    font-size: 35px;
    margin-top: 70px;
    margin-left: 25px;
    color: whitesmoke;

}

.alinhar {

    justify-content: space-around;
    display: flex;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;

}

.metais {

    width: 30px;
    height: 30px;
    background-color: #244d57 ;
    margin-right: 15px;
    border-radius: 10px;
}

.nobres {

    width: 30px;
    height: 30px;
    background-color: #623842;
    margin-right: 15px;
    border-radius: 10px;
}

.desconhecidas {

    width: 30px;
    height: 30px;
    background-color:#46474c ;
    margin-right: 15px;
    border-radius: 10px;
}

.alcalinoterrosos {

    width: 30px;
    height: 30px;
    background-color: #622e39;
    margin-right: 15px;
    border-radius: 10px;
}

.Semimetais {

    width: 30px;
    height: 30px;
    background-color:#523e1b ;
    margin-right: 15px;
    border-radius: 10px;
}

.Lantanídeos {

    width: 30px;
    height: 30px;
    background-color: #004a77 ;
    margin-right: 15px;
    border-radius: 10px;
}

.transição {

    width: 30px;
    height: 30px;
    background-color: #2f4d47;
    margin-right: 15px;
    border-radius: 10px;
}

.Ametais {

    width: 30px;
    height: 30px;
    background-color: #2a4165 ;
    margin-right: 15px;
    border-radius: 10px;
}

.actinideos{

    width: 30px;
    height: 30px;
    background-color: #613b28;
    margin-right: 15px;
    border-radius: 10px;
}

.alcalinos{

    width: 30px;
    height: 30px;
    background-color: #244d57;
    margin-right: 15px;
    border-radius: 10px;
}


.b {

    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: normal;
    align-items: center;
}

.b:hover {

    transform: scale(1.5);
    transition: 0.25s;

}

.alcalinos:hover {

    transform: scale(1.5);
    transition: 0.25s;
    box-shadow: 5px 5px 5px 2px black;
}

.cor10:hover{

transform: scale(1.5);
transition: 0.25s;
box-shadow: 5px 5px 5px 2px black;
}

.cor11:hover{

transform: scale(1.5);
transition: 0.25s;
box-shadow: 5px 5px 5px 2px black;
}

.cor12:hover{

transform: scale(1.5);
transition: 0.25s;
box-shadow: 5px 5px 5px 2px black;
}

.cor13:hover{

transform: scale(1.5);
transition: 0.25s;
box-shadow: 5px 5px 5px 2px black;
}

.cor9:hover{

transform: scale(1.5);
transition: 0.25s;
box-shadow: 5px 5px 5px 2px black;
}

.cor8:hover{

transform: scale(1.5);
transition: 0.25s;
box-shadow: 5px 5px 5px 2px black;
}

.cor7:hover{

transform: scale(1.5);
transition: 0.25s;
box-shadow: 5px 5px 5px 2px black;
}

.cor6:hover{

transform: scale(1.5);
transition: 0.25s;
box-shadow: 5px 5px 5px 2px black;
}

.cor5:hover{

transform: scale(1.5);
transition: 0.25s;
box-shadow: 5px 5px 5px 2px black;
}

.cor4:hover{

transform: scale(1.5);
transition: 0.25s;
box-shadow: 5px 5px 5px 2px black;
}

.cor3:hover{

transform: scale(1.5);
transition: 0.25s;
box-shadow: 5px 5px 5px 2px black;
}

.cor2:hover{

transform: scale(1.5);
transition: 0.25s;
box-shadow: 5px 5px 5px 2px black;
}

.fundo:hover{

transform: scale(1.5);
transition: 0.25s;
box-shadow: 5px 5px 5px 2px black;

}

.cor2:hover{ transform: scale(1.3);}